extends layout

block headers
	script(type="text/javascript", src="/libs/requirejs/require.js", data-main="/js/main.js")

block content
	div#game
		div#canvas
			canvas(width=900, height=600)#background
			canvas(width=900, height=600)#entities
			canvas(width=900, height=600)#foreground